header{
        background-color: #f2e8e8; 
        height: 70px; 
        width: 100%;
        color: white;
        height: 70px;
        width: 100%;
        border-bottom: 1px solid  #CCCCCC;
      }
